.main__col {
    display: grid;
    grid-gap: var(--gap-basic);
    justify-items: var(--align-center);
    text-align: var(--align-center);
}

.main__col--tiles {
    grid-template-columns: repeat(auto-fit, minmax(var(--tiles-item-width), 1fr));
}

.main__col--list {
    grid-template-columns: repeat(auto-fit, minmax(var(--list-item-width), 1fr));
}

.main__heading,
.main__subheading--loading,
.main__subheading--error,
.main__subheading--favorites,
.main__subheading--all {
    width: 100%;
    margin-block-end: 2rem;
    padding: 1rem;
    font-size: 2.5rem;
    grid-column: 1 / -1;
}

.main__heading {
    font-size: 3rem;
}


@media (min-width: 515px) {
    .main__col {
        justify-content: space-evenly;
    }
}