.header {
    border-bottom: 1px solid black;
}

.main__col {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    text-align: center;
    margin: 0 auto;
}

.main__heading {
    padding: 2rem;;

    width: 100%;
}