.form {
    text-align: center;
}

.form__group {
    margin-block-end: 1rem;
    padding: 2.5rem;
    background-color: rgb(209, 209, 214);
}

.form__group--label {
    background-color: antiquewhite;
}

@media ( min-width: 768px ) {
    .form__group {
        margin: 0 auto;
        width: 80%;
    }
}

@media ( min-width: 1200px ) {
    .form__group {
        width: 50%
    }
}