.wrap {
    min-height: 100vh;
    background-color: rgb(189, 175, 175);
}

.header {
    background-color: rgb(134, 134, 134);
}

.header__heading {
    text-align: center;
    padding-block: 2rem;
}
