.main__video {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    width: 80%;
    margin-inline: 10%;
}

.video__title {
   text-align: center;
}

.video__list {
    padding: 0;
    list-style: none;
}

.item__img {
    margin-block: 1.5rem;
    text-align: center;
}

.item__button {
    text-align: center;
}

.video__button {
    width: 80%;
    margin-block: 1rem;
}

@media(min-width: 1200px) {

    .main__video {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width:40%;

        margin: 2rem 5%;
    }
}

