.form {
    width: 80%;
    margin: 5rem auto;
}

.form__field {
    position: relative;
    padding: 2.5rem 2.5rem 0.5rem;
}

.form .form__field--input {
    margin-block-start: 1.5rem;
}

.form .form__field--label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    color: var(--main-app-color)
}

.form__field--hint {
    display: block;
    padding-block-end: 2rem;
    font-size: 1.3rem;
    font-weight: var(--font-weight-bold);
    text-align: var(--align-center);
    color: var(--validation-hint-color)
}

.form .form__button {
    display: block;
    margin: 2rem auto 0;
}

@media(min-width: 768px) {
    .form {
        width: 50%;
    }

    .form .form__field--label {
        left: 3rem;
        transform: translateX(0);
        transition: var(--transition);
    }

    .form .form__field--input {
        font-size: 1.5rem;
        color: var(--main-app-color);
        background-color: var(--color-transparent);
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 0.2rem solid var(--main-app-color);
    }

    .form .form__field--input::placeholder {
        color: var(--color-transparent);
    }

    .form .form__field--input:placeholder-shown ~ .form__field--label {
        top: 2.5rem;
    }

    .form .form__field--input:focus {
        padding-bottom: 0.5rem;
        font-weight: var(--font-weight-bold);
        outline: none;
        box-shadow: none;
        background-color: var(--color-transparent);
        border-width: 0.3rem;
        border-image: var(--input-border-color);
        border-image-slice: 1;
    }

    .form .form__field--input:focus-visible {
        outline: none;
        box-shadow:var(--input-box-shadow);
    }

    .form .form__field--input:focus ~ .form__field--label{
        position: absolute;
        top: 0;
        font-weight: var(--font-weight-bold);
        color: var(--label-color);
        transition: var(--transition);
    }

    .form .form__button {
        padding-block: 0.5rem;
        font-size: 1.5rem;
    }

    .form__field--hint {
        padding-block-end: 0;
    }

}